.bomb--activated {
  display: initial;
}

.bomb--activating {
  display: none;
}

.banner {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.banner--spinner {
  animation: banner--spinner 1s linear infinite;
}

@keyframes banner--spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.failed--banner,
.diffused--banner {
  font-size: 8rem;
}

.failed--banner {
  color: #ff0000;
}

.diffused--banner {
  color: #00ff00;
}

.activating--banner {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
