html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* /***********
*** SHARED STYLING
************ / */

.button {
  background-color: #190f00;
  padding: 10px 20px;
  margin: 20px 5px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  font-size: 1.5rem;
}

.button a {
  font-size: 1.5rem;
}
