.leaderboard {
  display: flex;
}

.leaderboard > * {
  margin: 20px;
}

.leaders--header {
  margin: 20px;
}

.leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leaders > * {
  width: 100%;
}

.leaders table {
  display: flex;
  overflow: scroll;
}

.leaders--table,
.leaders--main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leaders--main > * {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  overflow: scroll;
}

.leader-row {
  cursor: pointer;
}
