.login-form,
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  border: 10px solid #a7a79f;
  border-radius: 20px;
  padding: 7px;
  background-color: #323338;
}
