body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
