body {
  font-family: sans-serif;
}

@font-face {
  font-family: 'Digital';
  src: url('digital-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
